<section class="features">
  <div class="feature">
    <svg class="feature__icon">
      <use xlink:href="<%= asset_pack_path('img/sprite.svg') %>#icon-global"></use>
    </svg>
    <h4 class="heading-4 heading-4--dark">World's best luxury homes</h4>
    <p class="feature__text">Lorem odio quod officia distinctio animi Harum cumque laborum rem consectetur adipisci. Pariatur maxime mollitia dignissimos odio.</p>
  </div>
  <div class="feature">
    <svg class="feature__icon">
      <use xlink:href="<%= asset_pack_path('img/sprite.svg') %>#icon-trophy"></use>
    </svg>
    <h4 class="heading-4 heading-4--dark">Only the best properties</h4>
    <p class="feature__text">Sit adipisicing nam laudantium ex reprehenderit. Reprehenderit itaque amet praesentium dicta soluta.</p>
  </div>
  <div class="feature">
    <svg class="feature__icon">
      <use xlink:href="<%= asset_pack_path('img/sprite.svg') %>#icon-map-pin"></use>
    </svg>
    <h4 class="heading-4 heading-4--dark">All homes in top locations</h4>
    <p class="feature__text">Ipsum velit natus aliquam atque suscipit? Corporis earum veritatis tenetur iste voluptatem!</p>
  </div>
  <div class="feature">
    <svg class="feature__icon">
      <use xlink:href="<%= asset_pack_path('img/sprite.svg') %>#icon-key"></use>
    </svg>
    <h4 class="heading-4 heading-4--dark">New home in one week</h4>
    <p class="feature__text">Elit nulla dignissimos omnis nobis voluptate iste Non odit magnam sit nemo recusandae Exercitationem ab assumenda.</p>
  </div>
  <div class="feature">
    <svg class="feature__icon">
      <use xlink:href="<%= asset_pack_path('img/sprite.svg') %>#icon-presentation"></use>
    </svg>
    <h4 class="heading-4 heading-4--dark">Top 1% realtors</h4>
    <p class="feature__text">Consectetur odio mollitia optio necessitatibus neque molestias quo corrupti. Odit dignissimos assumenda iste minus ipsam.</p>
  </div>
  <div class="feature">
    <svg class="feature__icon">
      <use xlink:href="<%= asset_pack_path('img/sprite.svg') %>#icon-lock"></use>
    </svg>
    <h4 class="heading-4 heading-4--dark">Secure payments on Nexter</h4>
    <p class="feature__text">Sit cum iure maxime dolor amet? Asperiores nulla itaque perspiciatis consectetur cum distinctio.</p>
  </div>
</section>
