<footer class="footer">
  <ul class="nav">
    <li class="nav__item">
      <%= link_to 'Find your dream home', '#', class: 'nav__link' %>
    </li>
    <li class="nav__item">
      <%= link_to 'Request proposal', '#', class: 'nav__link' %>
    </li>
    <li class="nav__item">
      <%= link_to 'Download home planner', '#', class: 'nav__link' %>
    </li>
    <li class="nav__item">
      <%= link_to 'Contact us', '#', class: 'nav__link' %>
    </li>
    <li class="nav__item">
      <%= link_to 'Submit your property', '#', class: 'nav__link' %>
    </li>
    <li class="nav__item">
      <%= link_to 'Come work with us!', '#', class: 'nav__link' %>
    </li>
  </ul>
  <p class="copyright">
    &copy; Copyright 2017 by Jonas Schmedtmann. Feel free to  use this project for your own purposes. This does NOT apply if you plan to produce your own course or tutorials based on this project.
  </p>
</footer>
